# Azure CREDs
subscription_id = ""
client_id       = ""
client_secret   = ""
tenant_id       = ""

# VM CREDs
user_name       = "azureuser"
user_password   = "F5emea12345!"

# Azure Deployment environment
prefix          = "1nic-bigip-autoscale-bigiq"
unique_string   = "testapp"
location        = "westeurope"

# BIG-IP Network environment
cidr              = "10.1.0.0/16"
subnet_external   = ["10.1.1.0/24"]

nstance_type    = "Standard_DS3_v2"
image_name       = "f5-big-all-2slot-byol"
product          = "f5-big-ip-byol"
bigip_version    = "16.1.202000"

# BIG-IQ
bigiq_ip        = ""
bigiq_user_name = ""
bigiq_password  = ""